/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Brand Colors
   ========================================================================== */
$navy: #171D47;
$silver: #C0C0C0;
$ghost-white: #F8F8FF;
$lilac: #6D7DBD;
$dark-gray: #808080;
$old-gold: #CFB53B;
$black: #000000;

// Misc Variables
$nav-size-medium: 760px;
$nav-size-large: 860px;


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {

}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: $lilac;
  color: $ghost-white;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * niveau-grotesk-small-caps:
 *   - http://typekit.com/eulas/00000000000000003b9ad45a
 *   - http://typekit.com/eulas/00000000000000003b9ad457
 *   - http://typekit.com/eulas/00000000000000003b9ad44e
 *
 * © 2009-2020 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-04-21 17:21:20 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=nkr3mcy&ht=tk&f=27091.27092.27093&a=4357684&app=typekit&e=css");
@font-face {
font-family:"niveau-grotesk-small-caps";
src:url("https://use.typekit.net/af/809ec9/00000000000000003b9ad45a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/809ec9/00000000000000003b9ad45a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/809ec9/00000000000000003b9ad45a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}
@font-face {
font-family:"niveau-grotesk-small-caps";
src:url("https://use.typekit.net/af/82424f/00000000000000003b9ad457/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/82424f/00000000000000003b9ad457/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/82424f/00000000000000003b9ad457/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}
@font-face {
font-family:"niveau-grotesk-small-caps";
src:url("https://use.typekit.net/af/8a6f64/00000000000000003b9ad44e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/8a6f64/00000000000000003b9ad44e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/8a6f64/00000000000000003b9ad44e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

html,
body {
  color: $navy;
  font-size: 1em;
  margin: 0 auto;
  background-color: $ghost-white;
  height: 100%;
  text-align: left;
}

#content {
  margin: auto;
  padding: 1em;
  max-width: 900px;
  min-height: 90%;
}

h1 {
  font-family: "niveau-grotesk-small-caps", Georgia, Times, "Times New Roman", serif;
  font-size: 42px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 66px;
}

h2 {
  font-family: "niveau-grotesk-small-caps", Georgia, Times, "Times New Roman", serif;
  font-size: 33px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 53px;
}

h3 {
  font-family: "niveau-grotesk-small-caps", Georgia, Times, "Times New Roman", serif;
  font-size: 26px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 43px;
}

h4 {
  font-family: "niveau-grotesk-small-caps", Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 35px;
}

p {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 29px;
}

blockquote {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 26px;
}

pre {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 26px;
}

a {
  color: $dark-gray;
}

header {
  height: 50px;
  padding-bottom: 0.1rem;
}

#logo {
  text-decoration:none;
  border: 0;
  width : 209px;
  height : 50px;
  margin : 0;
  padding : 0;
  background-image : url(/img/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
}

#logo > a {
  height: 100%;
  display : block;
  text-indent : -9999px; 
}

.menu-toggle-btn{
  float: right;
  height: 60px;
  line-height: 60px !important;
  color: $navy;
  font-size: 26px;
  display: block !important;
  cursor: pointer;
}

.navigation-menu{
  position: fixed;
  width: 100%;
  max-width: 400px;
  background: $lilac;
  top: 90px;
  right: 0;
  display: none;
  padding: 20px 40px;
  box-sizing: border-box;
}

.navigation-menu::before{
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid $lilac;
  position: absolute;
  top: -10px;
  right: 10px;
}

.navigation-menu.active{
    display: block;
}

.navigation-menu a{
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .3s linear;
  text-decoration: none;
  color: $ghost-white;
  display: block;
  margin: 10px 0;
}

.navigation-menu i{
  margin-right: 8px;
  font-size: 16px;
}

.flex-box{
  display: flex;
}

.flex-align-center{
  justify-content: center;
  align-items: center;
}

.large-button{
  font-size: 28px;
  margin: 21px;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  background: $lilac;
  color: $ghost-white;
}

#license {
  margin-top: 2em;
  text-align: center;
  display:  inline-block;
  text-decoration: none;
  margin: auto;
  width: 100%;
}

#license > a:link {
  color: inherit;
  text-decoration: none
}

#license > a:visited {
  color: inherit;
  text-decoration: none
}

footer {
  background: $lilac;
  color: $ghost-white;
  min-width: 100%;
  min-height: 7.6%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}


/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}


/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}


/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}


/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* Style adjustments for viewports that meet the condition */
@media only screen and (min-width: $nav-size-medium){
  header {
    height: 80px;
  }

  #logo {
    width : 334px;
    height : 80px;
  }

  .menu-toggle-btn{
    display: none !important;
  }

  .navigation-menu{
    all: unset;
    float: right;
    display: flex;
    align-items: flex-end;
    height: 100%;
  }

  .navigation-menu::before{
    display: none;
  }

  .navigation-menu a{
    margin-left: 10px;
    display: inline;
    color: $ghost-white;
    background: $lilac;
  }

  .navigation-menu a:hover{
    background: $lilac;
    color: $ghost-white;
    transform: scale(1.1);
  }

  .large-button{
    font-size: 42px;
    margin: 21px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    background: $lilac;
    color: $ghost-white;
  }
}

@media only screen and (min-width: $nav-size-large){
  header {
    height: 100px;
  }

  #logo {
    width : 417px;
    height : 100px;
  }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
